body {
    margin: 0;
    padding-left: 80px;
    padding-right: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div {
    padding-bottom: 10px;
}

.header {
    padding-top: 80px;
}

.header h1 {
    font-size: 40px;
}

#game {
    display: none;
}
